<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/likes.js"></script>
    <script type="text/javascript" src="/scripts/ratings.js"></script>
    <script src="https://kit.fontawesome.com/5747e37874.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <header>
      <%- include('partials/header.ejs') %>
    </header>
    <h1></h1>

      <% for (resource of resources) { %>
        <section class="resource-boxes">
          <p><strong><%=resource.title %></strong></p>
          <p><%=resource.description %></p>
          <p>Category: <%=resource.category %></p>
          <a href="<%=resource.resource %>">
      <p>Follow: <%=resource.resource %></p>
    </a>
    <div class="comment-bar">
    <form class="comments" action="/resources/comments" method="POST">
      <input type="hidden" name="res_id" value="<%=resource.id%>">
      <input type="hidden" name="u_id" value="<%=resource.user_id%>">
    <textarea name="comments" cols="50" rows="5" maxlength="140"></textarea>
      <input type="submit"value="Comment"> </button>
    </form>
  </div>
      <footer class="display-rating-icons">
        <div class="resource-rating">
          <pre>Like: </pre>
        </div>
        <div class="like-icons">
          <form class="like">
            <input type="hidden" name="resource_id" value="<%= resource.id %>">
            <input type="hidden" name="user_id" value="<%= resource.user_id %>">
            <input id="like-button-value" type="hidden" name="liked" value="true">
            <!-- <i class="far fa-heart" type="submit"></i> -->
            <button type="submit" class="completed-task">
              <i class="far fa-heart"></i>
            </button>
          </form>
        </div>
        <form method="POST" action="/resources/ratings">
          <label><pre>  Rate:</pre>
        </label>
          <select id="rating" name="rating">
            <option value="" selected="selected"></option>
            <option value="1" >1</option>
            <option value="2" >2</option>
            <option value="3" >3</option>
            <option value="4" >4</option>
            <option value="5" >5</option>
            <option value="6" >6</option>
            <option value="7" >7</option>
            <option value="8" >8</option>
            <option value="9" >9</option>
            <option value="10" >10</option>
          </select>
          <input type="hidden" name="rate_resource_id" value="<%= resource.id %>"/>
            <input type="hidden" name="rate_user_id" value="<%= resource.user_id %>"/>
          <button class="btn btn-outline-secondary" type="submit">
            <!-- <div></div><h1>hello</h1> -->
            <span class="glyphicon glyphicon-align-left">Submit</span>
          </button>
        </form>



<button type="submit" class="get-average" data-resource="<%= resource.id %>">See Rating</button>
<div data-re="<%= resource.id %>" class="average-rating">
</div>


      </footer>
    </section>
      <% } %>
  </body>
</html>

